<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Milledoni</title>
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="/public/stylesheet.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=League+Spartan:wght@100..900&family=Parkinsans:wght@300..800&family=Pochaevsk&family=Triodion&display=swap" rel="stylesheet">
        <title>{{ hi }}</title>
        </head>
        <body>  

		  <header class="header">
			<img src="/Logo.png" alt="Logo" class="logo">
			
			<div class="icons">
				<img src="/Bookmark.svg" alt="Bookmark" class="icon">
				<img src="/Profiel.svg" alt="Profiel" class="icon">
			</div>
		</header>